{% extends "colortask/basesite.html" %}
{% load staticfiles %}

{% block extrahead %}
<!-- <link rel="stylesheet" href="{% static 'colortask/css/home.css' %}"/> -->
{% endblock %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row header">
    <div class="col-md-10 col-md-offset-1">
       <h3>Thanks for completing the task!</h3>
    </div>
  </div>

  <div class="row">
  	<a class="btn btn-primary btn-lg" href="/colortask/stage/" role="button">Try again</a>
  </div>
</div>
{% endblock %}