{% extends "colortask/basesite.html" %}
{% load staticfiles %}

{% block extrahead %}
<script src="{% static 'colortask/js/instructions.js' %}"></script>
<!-- <link rel="stylesheet" href="{% static 'flaskmanager/css/home.css' %}"/> -->
{% endblock %}

{% block content %}

<div class="container">
      <!-- Example row of columns -->
      <div class="row header">
        <div class="col-md-10 col-md-offset-1">

        <h2> Instructions </h2>
        <br>
		<h4> Click the color that is closest to the requested color. Try the example question below.</h4>
		<br>
		<hr>
		<div class="alert alert-success" role="alert" style="display:none;">
  			Good job! | <a href={% url 'colortask:stage' %} class="alert-link">Continue</a>
		</div>
		<div class="alert alert-danger" role="alert" style="display:none;">
  			Nope, try again!
		</div>
          <br>
           <h3>Which color is closer to <span class="target-color">sky blue</span>?</h3>

        </div>
      </div>

      <div class="row">

        <!-- option 1 -->
        <div class="col-xs-6 col-md-4 col-md-offset-2">
          <div id="color-left" class="color-square" style="background-color:#22e;"></div>
        </div>

        <!-- option 2 -->
        <div class="col-xs-6 col-md-4">
          <div id="color-right" class="color-square" style="background-color:#2c2;"></div>
        </div>
      </div>
    </div>
{% endblock %}